body{
    background-color: aqua;
    overflow: auto;
    background-repeat: no-repeat;
}
.godCont{
    width: 100%;
}
/* everything here is pretty much for the front page */
.header{
    width: 100%;
    background-color: rgb(128, 107, 79);
    border-style: solid;
    border-bottom-width: .5em;
    color: white;
    text-align: center;
    margin-bottom: 3em;
    float: left;
}
h1{
    font-size: 4em;
    text-align: center;
}
.footer{
    width: 100%;
    background-color: rgb(128, 107, 79);
    position: fixed;
    bottom: 0;
    border-style: solid;
    border-top-width: 1em;
    color: white;
    text-align: center;
    margin-top: 3em;
    padding: 1em 0;
}
h6{
    font-size: 1em;
    text-align: center;
}
.leftBro, .rightBro{
    margin: 4em auto;
    float: left;
    width: 30%;
}
.rightVid, .leftVid{
    width: 100%;
}
.start{
    width: 40%;
    margin: 10em auto;
    float: left;
    padding: 4em;
    background-color: silver;
    border: black;
    color: black;
    border-style: solid;
}
h2{
    font-size: 3.5em;
}
/* this section styles the main screen section */
#tag{
    font-size: 2em;
    float: left;
    margin-left: 20%;
}
.playerNameInput, .formRow{
    float: left;
    width: 100%;
    margin: 1em 0;
}
.heroChoice{
    width: 100%;
    margin-top: 1em;
}
#playerName{
    width: 30%;
    height: 2em;
    float: left;
    margin-left: 1em;
}
.hero{
    width: 18%;
    float: left;
    margin: 1%;
}
#heroGenji, #heroHanzo{
    display: block;
    width: 100%;

}
h3{
    font-size: 3em;
    text-align: center;
}
/* this section is for the pick name screen */
.noName{
    width: 100%;
    padding: 10em 0;
    float: left;
    background-color: black;
    border-top: red;
    border-bottom: red;
    border-style: solid;
    border-top-width: .5em;
    border-bottom-width: .5em;
    text-align: center;
    color: white;
}
.pickName{
    text-align: center;
}
.ok{ 
    width: 20%;
    text-align: center;
    background-color: silver;
    color: black;
    padding: 1em;
    margin: 1.5em;
    font-size: 1em;
}

/* this section styles the game screen */
.player1{
    width: 30%;
    float: left;
    margin-left: 10%;
}
.player2{
    width: 30%;
    float: right;
    margin-right: 10%;
}
.player1RPS, .player2RPS{
    width: 100%;
}
.choiceDiv{
    width: 33.3%;
    float: left;
}
.icon{
    display: block;
    width: 90%;
    margin: 0 2%;
}
.heroPeach, .hero2Peach{
    display: block;
    width: 60%;
    margin: 2em 20%;
}
.player1Peach, .player2Peach{
    display:block;
    width: 100%;
}
.RPSTitles{
    text-align: center;
    font-size: 1em;
    background-color: white;
    width: 90%;
    margin-left: 2%;
}
.chosenName{
    width: 100%;
    text-align: center;
    float: left;
    text-align: center;
}
h4{
    font-size: 3em;
    color: white;
    width: 60%;
    background-color: black;
    margin:0 20%;
    text-align: center;
    padding:.2em 0;
}